[tool.poetry]
name = "pyanilist"
version = "0.1.0"
description = "Simple read-only Anilist API wrapper"
authors = ["Raventric <78981416+Ravencentric@users.noreply.github.com>"]
license = "Unlicense"
readme = "README.md"
packages = [{include = "pyanilist", from = "src"}]
homepage = "https://ravencentric.github.io/pyanilist"
repository = "https://github.com/Ravencentric/juicenet-cli"
documentation = "https://ravencentric.github.io/pyanilist"
classifiers = [
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = ">=3.9"
pydantic = ">=2.6.4"
typing-extensions =">=4.10.0"
pydantic-extra-types =">=2.6.0"
pycountry = ">=23.12.11"
httpx = ">=0.27.0"
boltons = ">=23.1.1"
tenacity = ">=8.2.3"
strenum = { version = ">=0.4.15", python = "<3.11" }
importlib-metadata = { version = ">=7.0.2", python = "<3.10" }

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = ["I"]
fixable = ["ALL"]

[tool.mypy]
strict = true
pretty = true

[tool.poetry.group.dev.dependencies]
ruff = ">=0.3.2"
mypy = ">=1.9.0"
types-boltons = ">=23.1.0.20240310"
pytest = "^8.1.1"
pytest-asyncio = "^0.23.5.post1"
pre-commit = "^3.6.2"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.5.13"
mkdocstrings = {extras = ["python"], version = "^0.24.0"}
mkdocs-autorefs = "^1.0.1"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
