name: Deploy docs

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'docs/**'
      - '.github/workflows/docs.yml'
      - 'mkdocs.yml'
  workflow_dispatch:

env:
  FORCE_COLOR: 1
  UV_LOCKED: 1

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  docs:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - run: uv run mkdocs build --strict

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: './site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
