name: Lint, Format, and Type Check

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/lint-and-type-check.yml'
    tags-ignore:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/lint-and-type-check.yml'
  workflow_dispatch:
  workflow_call:

env:
  FORCE_COLOR: 1
  UV_LOCKED: 1

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
        with:
          python-version: "3.13"

      - name: Install the project
        run: uv sync --all-extras

      - name: Run mypy
        run: uv run mypy .

      - name: Run ruff lint
        run: uv run ruff check .

      - name: Run ruff format
        run: uv run ruff format --check .
