name: Tests

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/tests.yml'
      - 'src/**'
      - 'tests/**'
      - 'uv.lock'
    tags-ignore:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/tests.yml'
      - 'src/**'
      - 'tests/**'
      - 'uv.lock'
  workflow_dispatch:
  workflow_call:

env:
  FORCE_COLOR: 1
  UV_LOCKED: 1

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync

      - name: Run tests and generate coverage
        run: |
          uv run coverage run -m pytest --block-network -vv
          uv run coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          env_vars: OS,PYTHON
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
